/*  your css code here. If applicable */
.box{
	background-color:lightblue;
	width:150px;
	height:150px;
/* 	display:flex;
	justify-content:Center; */
/* 	align-items:center; */
	position:absolute;
	top:1rem;
	left:1rem;
	border:2px solid black;
}

.box p{
	color:purple;
}